:root {
  /*------------------------------------------------------------
    |
    | - COLOR
    |
    ------------------------------------------------------------*/

  /* COLOR PALETTE */

  --color-n-000: white;
  --color-n-050: #F5AB38;
  --color-n-055: #55BC7A;
  --color-n-055-B: #55bc7bd2;
  --color-n-0100: #444444;
  --color-n-0100-B: #444444d5;
  --color-n-0150: red;
  --color-n-0200: black;
  --color-n-0250: rgba(128, 128, 128, 0.456);

  /*------------------------------------------------------------
    |
    | - TYPOGRAPHY
    |
    ------------------------------------------------------------*/

  --typography-typeface: 'Montserrat', sans-serif;

  /* FONT SIZE */

  --typography-h1: 1.5rem;

  /* PADDING */

  --padding-regular-button: 10px;
}
